@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/dist/css/bootstrap.min.css';

/* tema: https://colorhunt.co/palette/1649 */
:root {
    --branco: #f0f5f9;
    --cinza-claro: #c9d6df;
    --cinza-escuro: #52616b;
    --preto: #1e2022;
}

*{
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
