<mat-card>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="innerCard">
        <mat-card-content class="to-center">1</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="innerCard">
        <mat-card-content class="to-center">2</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="innerCard">
        <mat-card-content class="to-center">3</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="innerCard">
        <mat-card-content class="to-center">4</mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
    
  </mat-grid-list>

</mat-card>
